.btn {
  border: none;
  background-color: coral;
  color: white;
  font-weight: bold;
  padding: 6px 15px;
}

.btn--medium {
  padding: 10px 20px;
}

.btn--large {
  padding: 15px 25px;
  font-size: 150%;
}
